html,body{ margin: 0%;
    height: 100%;
width: 100%;
}
form{
    background-color: rgba(208, 48, 48, 0.9);
    height: 200%;
     width: 400%;
     

     
     
}
fieldset {margin: 50px;}
.outerbox{
   height: 400px;
    width: 400px;
    background-color: rgb(34, 32, 40);
    color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    font-weight: bold;
}
.innerbox{
    padding: 100%;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-color: rgb(4, 86, 35);
    color: rgb(91, 61, 24);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: lighter;
}
